.wrapper {
  width:740px;
  margin:0 auto;
}
section {
  width:500px;
  float:right;
  padding-bottom:50px;
}
header {
  width:270px;
  float:left;
  position:fixed;
}
footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}
footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}
